$desktop-min: 1600px;

$laptop-max: $desktop-min - 1;
$laptop-min: 1334px;

$landscape-max: $laptop-min - 1;
$landscape-min: 981px;

$tablet-max: $landscape-min - 1;
$tablet-min: 768px;

$mobile-max: $tablet-min - 1;